# Server 
PORT=5000
NODE_ENV=development        

#  MySQL
DB_HOST=localhost
DB_PORT=3306
DB_USER=misrak_app            
DB_PASSWORD=
DB_NAME=misrak_coffee
# DB_SSL=true                 # uncomment when DB is on a remote server
# DB_POOL_LIMIT=10            # max concurrent connections

# JWT
JWT_SECRET=
JWT_EXPIRE=7d
JWT_COOKIE_EXPIRE=7           


CORS_ORIGINS=http://localhost:5500,http://127.0.0.1:5500


ADMIN_NAME=Super Admin
ADMIN_EMAIL=admin@misrakcoffee.com
ADMIN_PASSWORD=Change_This_Strong_Password_Before_Deploy!
